#oseba {font-weight: bold;border-radius: 10px;width: 100%; padding: 5px; background-image: url(https://previews.123rf.com/images/stacyt13/stacyt131508/stacyt13150800095/44047691-Vector-minimalistic-DNA-seamless-pattern-DNA-spiral-scientific-background-Stock-Vector.jpg); padding-bottom: 10px; border: 2px dotted blue;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
#meritve {border-radius: 10px;display: inline-block;float: right; width: 50%;height: 200px; padding: 5px; background-color: #d4d6d8;overflow: auto;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
body {padding-top: 70px; background-image: url(https://s-media-cache-ak0.pinimg.com/236x/35/70/76/357076ab04e208c21a1b7e908356f599.jpg);}
/*#map {width: 25%; padding: 10px; float:left;}*/
#zdravila {border-radius: 10px;display: inline-block;float:left; width: 50%; height: 200px; background-color: #d4d6d8;overflow: auto; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
#alergije {border-radius: 10px;display: inline-block;float: right; width: 50%;height: 200px;background-color: #d4d6d8;overflow: auto; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
#lab {border-radius: 10px;display: inline-block;width:50%;height: 200px;position: relative; background-color: #d4d6d8;overflow: auto;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
/*#map {display: inline-block;position: relative;overflow: auto; padding-left: 50px; margin-left: auto; margin-right: auto; align-items: center;}*/
#map {position: relative;overflow: auto; padding-left: 50px; float:center;}
#map2 {position: relative;overflow: auto; padding-left: 100px; float:left;}
#maap {position: relative; margin-left: auto; margin-right: auto; padding-left: 50px; padding-bottom: 50px; margin-top: 20px}
#viz{ padding-top: 10px; padding-bottom: 10px; position: relative;width: 100%; background-color: gray; padding-bottom: 5px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
/*div {padding: 10px 10px 10px 10px;}*/
#viz2{text-align: center; position: relative;width: 100%; background-color: white;border: 2px solid black ;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
#map2 {width: 50%; overflow:auto;}

.chart div {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
  font: 12px sans-serif;
  background-color: black;
  text-align: right;
  padding: 5px;
  margin: 3px;
  color: white;
}
.coll {padding: 10px 10px 10px 10px  }

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}
input {
  display: inline-block;
  float: left;
}